.vs/
.idea/
*.user
*.suo
*.VC.db
*.VC.VC.opendb
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cache
*.log
*.tlog
*.lastbuildstate
*.obj
*.pch
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.exp
*.sys
*.cat
*.cer
*.pfx
*.pvk
*.snk
Debug/
Release/
x64/
artifacts/
TestResults/
events*.jsonl

